body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.todos__filter {
  display: flex;
}

.todos {

}

.todos__item p {
  pointer-events: none;
}

.todos__item_completed {
  text-decoration: line-through;
}